[Unit]
Description=TON Compass Hackathon App
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/STONfiHackathon
ExecStart=/usr/bin/node /home/STONfiHackathon/server.mjs
Restart=always
RestartSec=5
Environment=PORT=3000
User=root

[Install]
WantedBy=multi-user.target
